@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestingWebApplication.Models.AdminUsers.EditUserViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.SiteName = "TestingWebApplication";
    ViewBag.Title = "Редактирование пользователя";
}

<div class="col">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewBag.Title</h1>
    </div>
    <div class="row">
        <form method="post" style="width: 100%">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="UserId"></label>
                <input asp-for="UserId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UserLogin"></label>
                <input asp-for="UserLogin" class="form-control">
                <span asp-validation-for="UserLogin" class="invalid-feedback" style="display: block"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="invalid-feedback" style="display: block"></span>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="invalid-feedback" style="display: block"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="invalid-feedback" style="display: block"></span>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Обновить</button>
            <a href="#" onClick="history.back(); return false;" class="btn btn-outline-secondary" role="button">Назад</a>
        </form>
    </div>
</div>