@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestingWebApplication.Data.Repository.Model.QuizModel

<div class="row">
    <div id="quizCarousel" class="carousel slide carousel-dark">
        <!-- Индикаторы -->
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.QuizBlocks.Count; ++i)
            {
                if (i == 0)
                {
                    <li data-target="#quizCarousel" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#quizCarousel" data-slide-to="@i"></li>
                }
            }
        </ol>
        <div class="carousel-inner">
            @for (var i = 0; i < Model.QuizBlocks.Count; ++i)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <div class="col-md-2 col-xs-2"></div>
                        @Html.DisplayFor(m => m.QuizBlocks[i], "Testing/QuizBlockEditor")
                        <div class="col-md-2 col-xs-2"></div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <div class="col-md-2 col-xs-2"></div>
                        @Html.DisplayFor(m => m.QuizBlocks[i], "Testing/QuizBlockEditor")
                        <div class="col-md-2 col-xs-2"></div>
                    </div>
                }
            }
        </div>

        <a class="left carousel-control" href="#quizCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="right carousel-control" href="#quizCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
</div>