@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestingWebApplication.Models.Account.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SiteName = "TestingWebApplication";
    ViewBag.Title = "Авторизация";
}

<form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">@ViewBag.Title</h1>
    
    <div class="form-group">
        <label asp-for="Login" class="sr-only"></label>
        <input asp-for="Login" class="form-control" placeholder="Логин" autofocus />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="sr-only"></label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Вход</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
</form>

@section HeaderStyles
{
    <link href="~/css/signin.css" rel="stylesheet">
}