@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestingWebApplication.Models.TestingApi.TestCreateViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.SiteName = "TestingWebApplication";
    ViewBag.Title = "Авторизация для тестирования";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h3 class="text-center">Авторизация для тестирования</h3>

            <form asp-controller="TestingApi" asp-action="QuizCreate" method="post">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label asp-for="UserGroupId">Группа</label>
                        <select asp-for="UserGroupId" class="form-control"></select>
                        <span asp-validation-for="UserGroupId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label asp-for="UserId">Пользователь</label>
                        <select asp-for="UserId" class="form-control"></select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label asp-for="QuizId">Тест</label>
                        <select asp-for="QuizId" class="form-control"></select>
                        <span asp-validation-for="QuizId" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Начать</button>
            </form>
        </div>
    </div>
</div>