@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.SiteName = "TestingWebApplication";
    ViewBag.Title = "Управление результатами тестов";
}

<div class="col">
    <div class="row d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@ViewBag.Title</h1>
    </div>
    <div class="row">
        <div class="card col-12 mb-3">
            <div class="card-body">
                <h5 class="card-title">Просматривайте список результатов</h5>
                <p class="card-text">Текст-подсказка.</p>
                <a asp-controller="AdminQuizResults" asp-action="ShowList" class="card-link">Перейти</a>
            </div>
        </div>
    </div>
</div>